{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@exultcorp.com>}}
<div class="clickAndLearn-inner component-inner" role="region" aria-label="{{_globals._components._clickAndLearn.ariaRegion}}">
    {{> component this}}
    <div class="clickAndLearn-widget component-widget {{#if _flag}}clickAndLearn-{{_flag}}{{/if}}">
        <ul class="clickAndLearn-navContainer">
            {{#each _items}}
            <li class="clickAndLearn-indicator">
                <img src="{{_graphic.src}}" class="clickAndLearn-indicator-img" aria-label="{{_graphic.alt}}" tabindex="0">
            </li>
            {{/each}}
        </ul>
        <div class="clickAndLearn-tabViewContainer">
            {{#each _items}}
            <div class="clickAndLearn-tabItem">
                <div class="clickAndLearn-tabView-title">{{{title}}}</div>
                <div class="clickAndLearn-tabView-body">{{{body}}}</div>
            </div>
            {{/each}}
        </div>
        <div class="clickAndLearn-popup display-none">
            <div class="clickAndLearn-popup-inner">
                <div class="clickAndLearn-popup-toolbar">
                    <div class="clickAndLearn-popup-toolbar-inner clearfix">
                        {{#each _items}}
                        <div class="clickAndLearn-popup-toolbar-title">
                            <h5 class="clickAndLearn-popup-toolbar-inner">
                                {{{title}}}
                            </h5>
                        </div>
                        {{/each}}
                        <a href="#" class="clickAndLearn-popup-close">
                            <div class="icon icon-cross"></div>
                        </a>
                    </div>
                </div>
                {{#each _items}}
                <div class="clickAndLearn-popup-body">
                    <div class="clickAndLearn-popup-body-inner">
                        {{{body}}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
